@model Someren_Database.Models.ActivitySupervisorsViewModel

<h2>Manage Supervisors </h2>
<h6 class="text-info">@Model.Activity.ActivityName</h6>

<h3>Supervisors:</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Teacher Firstname</th>
            <th>Teacher Lastname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supervisor in Model.Supervisors)
        {
            <tr>
                <td>@supervisor.FirstName</td>
                <td>@supervisor.LastName</td>
                <td>
                    <a href="@Url.Action("RemoveSupervisor", "ActivitySupervisor", new { activityId = Model.Activity.ActivityId, teacherID = supervisor.TeacherID })"
                       class="btn btn-danger btn-sm">
                        <i class="bi bi-x-circle"></i> Remove
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Not Supervisors:</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Teacher Firstname</th>
            <th>Teacher Lastname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notSupervisor in Model.NotSupervisors)
        {
            <tr>
                <td>@notSupervisor.FirstName</td>
                <td>@notSupervisor.LastName</td>
                <td>
                    <a href="@Url.Action("AddSupervisor", "ActivitySupervisor", new { activityId = Model.Activity.ActivityId, teacherID = notSupervisor.TeacherID })"
                       class="btn btn-success btn-sm">
                        <i class="bi bi-plus-circle"></i> Add
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

