@model List<Someren_Database.Models.Student>

@{
	ViewData["Title"] = "Students";
}

<div class="text-center">
	<h1 class="display-4">Students</h1>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Name</th>
			<th>Last Name</th>
			<th>Phone Number</th>
			<th>Class</th>
			<th>Room</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var student in Model)
			{
				<tr>
					<td>@student.StudentNumber</td>
					<td>@student.FirstName</td>
					<td>@student.LastName</td>
					<td>@student.PhoneNumber</td>
					<td>@student.StudentClass</td>
					<td>@student.RoomNumber</td>
					<td><a asp-controller="Students" asp-action="UpdateStudent" asp-route-studentNumber="@student.StudentNumber">Edit</a></td>
					<td><a asp-controller="Students" asp-action="DeleteStudent" asp-route-studentNumber="@student.StudentNumber">Delete</a></td>
				</tr>
			}
		}
	</tbody>

</table>

<a href="/Students/AddStudent"> Add New Student</a>

