@model Someren_Database.Models.Room

@{
    ViewData["Title"] = "Edit Room";
}

<div class="container mt-4">
    <h1>Edit Room</h1>

    <form method="post" asp-action="Edit" asp-controller="Room">
        <div class="form-group">
            <label for="RoomNumber">Room Number</label>
            <input type="number" class="form-control" id="RoomNumber" name="RoomNumber" value="@Model.RoomNumber" readonly />
        </div>

        @*
        <div class="form-group">
            <label for="RoomType">Room Type</label>
            <input type="text" class="form-control" id="RoomType" name="RoomType" value="@Model.RoomType" />
        </div>
        *@

        <div class="form-group">
            <label class="form-label" for="RoomType">Room Type</label>
            <select class="form-control" id="RoomType" name="RoomType" required>
                <option value="Student" selected="@((Model.RoomType == "Student") ? "selected" : null)">Student</option>
                <option value="Teacher" selected="@((Model.RoomType == "Teacher") ? "selected" : null)">Teacher</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label" for="Buidling">Building</label>
            <select class="form-control" id="Building" name="Building" required>
                <option value="A" selected="@((Model.Building == "A") ? "selected" : null)">Building A</option>
                <option value="B" selected="@((Model.Building == "B") ? "selected" : null)">Building B</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label" for="Floor">Floor</label>
            <select class="form-control" id="Floor" name="Floor" required>
                <option value="1" selected="@((Model.Floor == 1) ? "selected" : null)">Floor 1</option>
                <option value="2" selected="@((Model.Floor == 2) ? "selected" : null)">Floor 2</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Size">Number of beds</label>
            <input type="number" class="form-control" id="Size" name="Size" value="@Model.Size" />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>
</div>
